<div class="container">
    <h1 class="py-4">Buscar filme</h1>
    <form [formGroup]="formBusca">
        <div>
            <label for="titulo" class="form-label">Título: </label>
            <input type="text" name="titulo" id="titulo" 
                   class="form-control"
                   formControlName="titulo"> 
        </div>
        <div>
            <input class="btn btn-warning my-4" type="button" 
                   value="Buscar"
                   [disabled]="formBusca.invalid"
                   (click)="buscar()">
        </div>
    </form>
</div>
